h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #a52a2a;
}

.container {
    width: 1350px;
}

h2 {
    font-size: 18px;
    font-weight: normal;
    color: #000000;
}