h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #a52a2a;
}

.block1 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 200px;
}